numpy
pandas
scipy
statsmodels
scikit-learn
yfinance
matplotlib
rich
pyyaml
pytest
lxml
requests
pyarrow
fastparquet
streamlit 
plotly
vaderSentiment
feedparser
beautifulsoup4
torch
transformers
torchvisiion
torchaudio